@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-white dark:bg-slate-900;
  @apply text-slate-950 dark:text-slate-100;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}